*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.root_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav{
    background: #C2E2FC;
    height: 120px;
}

.title-text{
    display: inline-block;
    color: #2251AF;
    font-weight: 600;
    text-align: center;
    margin-top: 45px;
    margin-left: 50px;
    font-size: xx-large;
}

.progress_bars {
    width: 62px;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    margin-top: 50px;
}

.progressbar{
    background: #0967D2;
    height: 8px;
    width: 45px;
    left: 730px;
    top: 185px;
    border-radius: 7px;
}

.second_progressbar{
    background: #BAE3FF;
    height: 8px;
    width: 13px;
    left: 780px;
    top: 185px;
    border-radius: 7px;
}

.question{
    color: #2251AF;
    font-weight: 600;
    text-align: center;
    font-size: large;
    margin-top: 5px;
}

body{
    min-height: 100vh;
}

.fa-solid{
    font-size: 34px;
    color: #2251AF;
    text-align: center;
}


.card_title{
    top: 70px;
    left: 130px;
    color: #2251AF;
}

.btn_card_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 44em;
    margin-top: 80px;
}

.btn_card{
    background: #F5F7FA;
    width: 300px;
    height: 100px;
    border-radius: 40px;
    flex-basis: 30%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_card.active {
    background-color: blue;
    color: white;
}

.card_content{
    display:flex;
    flex-direction: column;
}

.card_content span {
    text-align: center;
}

.btn_card.car{
    background-color: #F5F7F;
}

.select_btn{
    width: 300px;
    height: 150px;
    background: #F0B429;
}

