@tailwind base;
@tailwind components;
@tailwind utilities;

/** Application **/
.primary-button {
    @apply bg-primary-500 font-medium rounded-lg text-white p-2 hover:bg-primary-600 h-fit;
}

.application-textField {
    @apply shadow appearance-none rounded h-[50px] rounded rounded-[10px] px-[23px] text-gray-700 leading-tight border-[#E6E6E6] placeholder-[#CBCBCB];
}

.application-textField:hover {
    @apply outline-none;
}

.application-CO2-header-container {
    @apply w-full bg-primary-100 flex justify-between px-[26px] items-center;
}

.application-CO2-header-title {
    @apply text-primary-600 text-4xl font-medium py-4 pl-[91px];
}

.application-continue-container {
    @apply bg-supporting_yellow-500 h-[157px] w-[313px] right-0 bottom-0 absolute flex justify-center items-center hover:bg-supporting_yellow-600 hover:cursor-pointer;
}

.application-continue-icon {
    @apply text-8xl;
}

/** User Location **/
.user-location-search-result-element {
    @apply bg-neutral-50 h-[48px] rounded rounded-[8px] flex items-center px-[12px] hover:bg-neutral-100 hover:cursor-pointer;
}

.user-location-search-result-element-content {
    @apply font-medium text-neutral-500 flex gap-3 items-center;
}

.user-location-search-container {
    @apply bg-white shadow shadow-lg rounded rounded-[12px] p-[5px] flex flex-col gap-[4px]
}

/** Dashboard **/
.dashboard-card {
    @apply lg:w-1/2 p-3;
}

.dashboard-card-inner-container {
    @apply bg-white flex flex-col lg:flex-row rounded rounded-lg overflow-hidden h-auto lg:h-32 border shadow shadow-lg transition transition-all ease-in-out duration-200 hover:scale-105;
}

.dashboard-card-content-container {
    @apply bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal;
}

.dashboard-card-content-title {
    @apply text-black font-bold text-xl mb-2 leading-tight text-primary-500;
}

.dashboard-card-content-result {
    @apply font-medium
}

/* Choose vehicle */

.licensePlate {
    @apply bg-supporting_yellow-500 h-[50px] w-[150px] border border-black border-[3px] rounded rounded-lg text-center;
    @apply font-bold text-xl text-black p-3 placeholder-supporting_yellow-100;
}

.licensePlate:focus{
    border-color: black;
    box-shadow: none;
    outline: none;
}

.btn_card {
    width: 300px;
    border-radius: 40px;
    flex-basis: 30%;
    margin-bottom: 1em;
}

.card_title {
    @apply top-[70px] left-[130px];
}

.btn_card.active {
    @apply border-[5px] border-[#2251AF];
}

.choose-vehicle-option {
    @apply bg-gray-100 h-24 flex justify-center items-center cursor-pointer;
}

.choose-vehicle-option-icon {
    @apply text-4xl text-blue-700 text-center;
}

.choose-vehicle-option-title {
    @apply card_title text-blue-700;
}

/* Activity Indicator */

.lds-ring {
    /*display: inline-block;*/
    position: relative;
    width: 32px;
    height: 32px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border: 4px solid #4284E4;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4284E4 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* tree background page */

/*#vehicle-icons-container > div.inactive {*/
/*    color: #d3d3d3;*/
/*    border-color: #d3d3d3;*/
/*}*/

/*#vehicle-icons-container > div.active {*/
/*    color: rgb(0 78 86);*/
/*    border: 2px solid rgb(0 78 86);*/
/*    font-weight: bold;*/
/*}*/

.vehicle-suggestion-option {
    @apply h-[32px] w-[32px] flex justify-center items-center rounded;
}

.vehicle-suggestion-option.active {
    @apply hover:text-primary-500 bg-primary-500;
}

.vehicle-suggestion-option.active i {
    @apply text-white;
}

.vehicle-suggestion-option.inactive {
    @apply hover:text-primary-500 border border-neutral-100 text-[18px] text-neutral-400;
}

/*.vehicle-suggestion-option .active {*/
/*    @apply vehicle-suggestion-option hover:text-primary-500 bg-primary-500*/
/*}*/
