.tree-canvas-container {
    height: 100%;
}

.canvas-box {
    height: 100%;
    width: 100%;
}

.calculator-place-holder {
    position: fixed;
    height: 15em;
    width: 15em;
    left: 50%;
    top: 45%;
    margin-top: -7.5em;
    margin-left: -7.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
}

.calculator-content {
    padding: 1em;
}

/* .tree-app {
display: initial;
} */

.tree-app .navigation {
    display: none;
}

.tree-app footer {
    display: none;
}